*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#wrapper{
    height:200vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform:translateZ(-40px) scale(5);
}
.foreground  {
    transform:translateZ(-20px)scale(4);

}
 section{
    position: absolute;
    left: 4px;
    bottom: 0px;

    background-color: rgb(45,45,45);
    color:white;
    padding: 5rem 0;
}

.secHeading{
    top:10rem;
    font-size: 10rem;
    padding:0 10rem;
}

   
h1{
    position:absolute;
    top:5rem;
    font-size: 10rem;
    letter-spacing: 4px;
    color:white;
    text-shadow: 0 0 10px rgba(0,0,0,0,3);
}
 .background, .foreground image, .container{
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    object-fit: cover;
}
 
.bg{
    position:relative;
    width: 100%;
    height: 150px;
    background-attachment: fixed;
}

 
.bg1{
    background-image: url(./image/Sky-Sports-Paragliding-Lanell2-2-2A.jpg);


}
.bg2{
    background-image: url(./image/surfing-action-as-a-young-teenage-female-surfer-rides-a-wave-at-fistral-in-newquay-in-cornwall-T8JW1A.jpg);


}
.bg3{
    background-image: url(./image/4075264.jpg);
}

.desc{
    position: absolute;
    background-color: white;
    top:50%;
    left:50%;
    color:black;
    font-size: 3rem;
    font-weight: 700;
    transform: translateX(-50%)  translateY(-50%);
     


}
